*{ 
    margin:0;
}
p{ 
    text-indent:2em;
    margin-top:1em;
    margin:1em;
    line-height:200%;
}
ul{
    background-color: #f5f2f0;
    padding: 2em;
    margin: 2em 2em;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border-width: 7px;
    border-color: #e0dfcc;
    border-style: solid;
    text-shadow: 0 1px white;
}
li{
    padding:4pt;
    line-height:200%;
    text-indent: 0pt;

}
pre
{ 
    border-width:1pt;
    border-style:solid;
    width:80%;
    margin:auto;
    margin-top:5pt;
    line-height:150%;
    margin-bottom:5pt;
    font-size:12pt;
    text-indent: 0pt;
    overflow:auto;
    border-radius: 20px;
    border-width: 7px;
    padding:15pt;
    border-color: #e0eacc;
    background-color: #f5f2f0;
}
table td{
    border: 1px solid;
    padding: 1em;

}
table{
  border-collapse:collapse;
}
